/* Utils */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


/* Home section */


/* Header section */

#main {
    height: 100%;
}

#header-section {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: #CAE6D9;
    padding: 0px;
    z-index: 1;
}

#header-section .sign-out {
    float: right;
    overflow: hidden;
    line-height: 50px;
}

#header-section .fas.fa-sign-out-alt {
    font-size: 20px;
    padding: 15px;
    color: black;
}


/* Navigation section */

#nav-section {
    width: 6%;
    height: 100%;
    /* position: relative;
    top: 50px;
    left: 0px; */
    margin-top: 50px;
    float: left;
    overflow: hidden;
}

#nav-section .nav {
    height: 100%;
    background-color: #2A616E;
}

.nav {
    list-style-type: none;
}

.nav li {
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    height: fit-content;
}

.nav li:hover {
    background-color: #ccc;
}

.nav .btn {
    font-size: 35px;
    text-align: center;
    color: #fff;
    width: 100%;
    justify-content: center;
    padding: 5px;
    /* border: 1px solid #fff; */
}


/* Content section */

#content-section {
    width: 94%;
    height: 100%;
    margin-top: 50px;
    float: right;
    overflow: hidden;
    background-color: #041A23;
    position: relative;
}

#content-section .gauge.gauge-temp {
    position: absolute;
    top: 20%;
    left: 15%;
}

#content-section .gauge.gauge-humid {
    position: absolute;
    top: 20%;
    right: 15%;
}

.temperature p,
.humidity p {
    padding-top: 14px;
    font-size: 25px;
}

/*Function: content slider*/

#content-slider {
    width: 94%;
    height: 100%;
    margin-top: 50px;
    float: right;
    overflow: hidden;
    background-color: #041A23;
    position: relative;
}

#content-slider .slidecontainer {
    position: relative;
    top: 0%;
    left: 20%;
}

#content-slider .gauge.gauge-temp {
    position: absolute;
    top: 150px;
    left: 20px;
}

#content-slider .gauge.gauge-humid {
    position: absolute;
    top: 350px;
    left: 20px;
}

#content-slider .gauge.gauge-temp-number {
    position: absolute;
    top: 185px;
    left: 800px;
    color: indigo;
    background-color: white;
    border: 1px black;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

#content-slider .gauge.gauge-humid-number {
    position: absolute;
    top: 385px;
    left: 800px;
    color: indigo;
    background-color: white;
    border: 1px black;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.slidecontainer p{
    font-size: 25px;
}


/*Function: Gauge*/

#content-section .gauge {
    padding-top: 15px;
    text-align: center;
}


/*Function: Toggle*/

#content-section .toggle {
    display: block;
    text-align: center;
    position: relative;
    line-height: 34px;
    top: 70%;
}

#content-section .off-switch {
    display: inline-block;
    padding-right: 10px;
    line-height: 34px;
    color: #fff;
}

#content-section .on-switch {
    display: inline-block;
    padding-left: 10px;
    line-height: 34px;
    color: #fff;
}
#content-section .button.set-time-btn {
    position: absolute;
    top: 64%;
    left: 45%;
}

#content-section .button:hover.set-time-btn {
   background-color: #ccc;
}

/* Login section */
#login-section {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    float: right;
    overflow: hidden;
    background-color: #041A23;
    position: relative;
}

#login-section .login {
    width: 300px;
    position: absolute;
    top: 20%;
    left: 42%;
}

#login-section .header {
    color: #fff;
    font-weight: 100;
    padding-bottom: 20px;
    border-bottom: #fff solid 1px;
    margin-bottom: 20px;
}

#password-input, #username-input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin: 0px;
}

#login-section input:focus {
    border: aquamarine;
    box-shadow: 0 0 0 3.2px rgb(0 123 255 / 25%);
    border: 1px solid #1e1ca3;
    outline: none;
}

#login-section label {
    font-size: 20px;
    margin: 15px 0px;
    display: block;
    color: #fff;
}

#login-section .sign-in-btn {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 144px;
    height: 44px;
    border-radius: 25px;
    background-color: #2A616E;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#login-section #password-input {
    -webkit-text-security: disc !important;
    font-size: 20px;
}

#login-section .sign-in-btn:hover {
    background-color: #ccc;
}

#username-error,
#password-error {
    color: red;
    text-align: left;
    padding-top: 5px;
}

#sign-up {
    text-decoration: none;
    color: aquamarine;
    display: block;
    padding-top: 5px;
}

/* Set-time section */

#content-section .length__title {
    padding-bottom: 20px;
}

#content-section .container {
    position: relative;
    left: 12%;
    top: 15%;
    margin-bottom: 60px;
}

#content-section .button.set-time-btn {
    position: absolute;
    top: 64%;
    left: 45%;
}

#content-section .button:hover.set-time-btn {
   background-color: #ccc;
}

/* Tables section */
#content-section .tables-container {
    background-color: #fff;
    /* border: #ccc 5px solid; */
    padding: 15px;
    width: 96%;
    position: absolute;
    display: block;
    top: 5%;
    left: 2%
}

