.gauge {
    width: 100%;
    max-width: 400px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: #fff;
  }
  
  .gauge__body_temp {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill_temp {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: rgb(138, 72, 18);
    transform-origin: center top;
    transform: rotate(0.0turn);
    transition: transform 1.5s ease-out;
  }
  
  .gauge__cover_temp {
    width: 75%;
    height: 150%;
    background: #041A23;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }

  .gauge__body_humid {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill_humid {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: rgb(0, 38, 255);
    transform-origin: center top;
    transform: rotate(0.0turn);
    transition: transform 1.5s ease-out;
  }
  
  .gauge__cover_humid {
    width: 75%;
    height: 150%;
    background: #041A23;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  