.container {
  margin: 35px 40px;
  width: 90%;
  height: 140px;
  padding: 10px 25px;
  background: rgb(8, 139, 214);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35),
    0 8px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35),
    0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat";
}

.field-title {
  position: absolute;
  top: -35px;
  left: 6px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
}

.range__slider {
  position: relative;
  top: 20px;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin: 30px 0;
}

.range__slider::before,
.range__slider::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.range__slider::before {
  content: attr(data-min);
  left: 10px;
}

.range__slider::after {
  content: attr(data-max);
  right: 10px;
}

.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -40px;
  font-variant-numeric: tabular-nums;
  color: #fff;
}

.slider {
  -webkit-appearance: none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgba(255, 255, 255);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgb(90, 223, 183);
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.button {
  margin-top: 30px;
  border-radius: 8px;
  background-color: rgba(38, 38, 230, 0.842);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(38, 38, 230, 0.6);
  transform: scale(1.05);
  transition: 0.4s ease;
}
