/* The slider itself */

.slider-temperature {
    -webkit-appearance: none;
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* Position */
}

.slider-humidity {
    -webkit-appearance: none;
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider-temperature::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(63, 63, 255);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}


.slider-humidity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(63, 63, 255);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}


.slider-temperature::-webkit-slider-thumb:hover,
.slider-humidity::-webkit-slider-thumb:hover {
    background-color: #d3d3d3;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

